.bk1 {
    background-image: url(images/DSC09072_1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
    font-family: sourcehansans-sc;
    padding-left: 30px;
    box-sizing: border-box;
}

small {
    font-style: italic;
}

#carousel-example-generic {
    float: left;
    width: 80%;
}

.bk3 {
    padding-top: 30px;
}

#myimg {
    display: block;
    margin: auto;
    border-radius: 25px;
    box-sizing: border-box;
}

.prof {
    background-color: #F0F8FF;
    border-radius: 15px;
    width: 25%;
    float: left;
}

.me {
    box-sizing: border-box;
    border-radius: 25px;
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
}

h3 {
    background-color: #0000CD;
    color: #F5F5DC;
    border-radius: 15px;
    text-align: center;
    font-family: sourcehansans-sc;
}

ul li {
    font-family: sourcehansans-sc;
}
