h1 {
    text-align: center;
    font-family: sourcehansans-sc-bold;
    text-decoration: underline;
}

small {
    text-align: center;
    font-family: sourcehansans-sc-bold;
    font-style: italic;
}

.pbut {
    text-align: center;
}

.col1 h3,
.col2 h3,
.col3 h3 {
    color: #6A5ACD;
}
