.bk1 {
    background-image: url(images/DSC09072_1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
    font-family: sourcehansans-sc;
}

.bk2 {
    background-color: #F0FFFF;
    border-radius: 15px;
    width: 100%;
    float: left;
}

.me {
    box-sizing: border-box;
    border-radius: 50px;
}

.fb {
    float: right;
}

h3 {
    background-color: #0000CD;
    color: #F5F5DC;
    border-radius: 15px;
    text-align: center;
}
